name: CI - Rust

on:
  workflow_call:
    inputs:
      rust-version:
        description: 'Rust toolchain version'
        required: false
        type: string
        default: 'stable'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: dtolnay/rust-toolchain@a54c7afe936401765a5605df8a934cdeb93a31be # stable
        with:
          toolchain: ${{ inputs.rust-version }}
          components: clippy

      - name: Check
        run: cargo check --workspace

      - name: Clippy
        run: cargo clippy --workspace -- -D warnings

      - name: Test
        run: cargo test --workspace
